<div>
  <div class="container">
    <div class="row">
        <div class="col">
<img src='https://78.media.tumblr.com/27e49c085c01baedf25eddc2a51b2296/tumblr_p7kvz0Z1Rh1qzklybo2_1280.jpg'style="width:500px;height:600px;">
      </div>
      <div class="col">
        <p>
            The city of Los Angeles is synonymous with many different things; sunshine, fame, entertainment, food.
        </p>
        <strong>
            However, I would make the argument that Los Angeles is known for it’s culturally diverse music, one that has been growing since it's inception.
        </strong>
        <p>
            To better understand Los Angeles in the lens of sound, It is only appropriate to take it back to the beginning.
        </p>
      </div>
    </div>
  </div>
</div>